<div class="row">
  <!-- Filters and orders -->
  <div class="dfilters col-md-12 mb-2">
    <div class="row">
      <div class="col-md-12 d-flex">
        <select class="form-select w-maxc me-2" [(ngModel)]="filter">
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="isFilterable(col)">
              <option [value]="col.data">{{ col.title }}</option>
            </ng-container>
          </ng-container>
        </select>
        <input class="form-control input-search" placeholder=" buscar" type="search" [(ngModel)]="search"
          (ngModelChange)="initTableAndSearch()">

        <select class="form-select w-maxc ms-auto" [(ngModel)]="size" (ngModelChange)="changePage()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="dtable col-md-12">
    <table class="table table-bordered table-stripped d-none d-lg-table  mb-2 ">
      <!-- Tablas en pantallas grandes -->
      <thead>
        <tr>
          <th *ngFor="let col of columns" (click)="sortTableBy(col)">
            <ng-container *ngIf="col.data == sortBy">
              <i *ngIf="ascSort">&uarr;</i>
              <i *ngIf="!ascSort">&darr;</i>
            </ng-container>
            <span>
              {{ col.title }}
            </span>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="data!.length > 0">
        <tr *ngFor="let d of filterData" [attr.class]="renderRowClass(d)">
          <ng-container *ngFor="let col of columns">
            <td class="{{col.class}}" *ngIf="!col.template" [innerHtml]="renderData(d,col)">
            </td>
            <td class="{{col.class}}" *ngIf="col.template">
              <ng-container [ngTemplateOutlet]="col.template || null" [ngTemplateOutletContext]="{row:d}">
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </tbody>
      <!-- No data -->
      <tbody *ngIf="!data || data.length == 0">
        <tr>
          <td [attr.colspan]="columns.length" class="no-data-available text-center text-muted">
            <i class="simple-icon-archive fa-2x text-muted"></i>
            <br>
            Sin informacion
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Tablas en pantallas mas pequeñas -->
    <div class="d-xs-block d-sm-block d-lg-none">
      <div class="card m-2" *ngFor="let d of filterData">
        <div class="row m-0 p-0" *ngFor="let col of columns">
          <strong class="col-sm-6 p-2 border">{{ col.title }}</strong>
          <span class="col-sm-6 p-2 border" *ngIf="!col.template" [innerHtml]="renderData(d,col)"></span>
          <ng-container *ngIf="col.template" [ngTemplateOutlet]="col.template" [ngTemplateOutletContext]="{row:d}">
          </ng-container>
        </div>
      </div>
    </div>


  </div>

  <!-- Pagination and information -->
  <div class="dpagination col-md-12">
    <div class="row">
      <div class="col-md-6 d-flex">
        <p class="my-auto">
          Mostrando {{data && data.length > 0? size: 0}} filas de {{ serverSide? recordsTotal : data.length}} filtradas
        </p>
      </div>

      <div class="col-md-6 d-flex">
        <nav class="ms-auto">
          <ul class="pagination">

            <li class="page-item" (click)="changePage(1)">
              <a class="page-link">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let index of pages" (click)="changePage(index)"
              [class.active]="index == actualPage">
              <a class="page-link">{{index}}</a>
            </li>

            <li class="page-item" (click)="changePage(totalPages)">
              <a class=" page-link">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>

          </ul>
        </nav>

      </div>
    </div>
  </div>

</div>
