.w-maxc {
  width: max-content !important;
}

.nowrap {
  white-space: nowrap !important;
}

.page-link.active{
    border: 1px solid #145388;
}

.dtable{
  max-width: 100%;
  overflow-x: auto;
}

.ordenable {
  &:hover {
    cursor: move;
    background-color: rgb(233, 231, 231);
  }
}

.dataTables_empty {
  display: none;
}
 
 
.input-search{
  max-width: 279px;
}