<div class="mb-3 {{class}}">
  <!-- LABEL -->
  <label class="form-label">{{label}}</label>
  <!-- SELECT BODY -->
  <div class="r-select">
    <!-- INPUT VIEW  -->
    <div class="form-control r-show" (click)="isDisabled || showOptions($event)" [ngClass]="{'disabled':isDisabled}" >
      <ng-container *ngIf="!multiple">{{selectedLabel}}</ng-container>
      <ng-container *ngIf="multiple">
        <span *ngFor="let label of selectedLabel" class="r-item">{{label}} <span class="r-item-delete"
            (click)="deleteItemSelected(label)">x</span></span>
      </ng-container>
    </div> 
    <span class="r-clear" *ngIf="clearable && value && !isLoading" (click)="clearSelect()">x</span>
    <span class="r-arrow" [ngClass]="{'open':open}"></span>
    <div class="r-loader spinner-border spinner-border-sm text-secondary" role="status" *ngIf="isLoading">
      <span class="visually-hidden">Loading...</span>
    </div>
    <!-- LIST OPTIONS -->
    <ul class="r-list" [ngClass]="{'open':open}">
      <!-- INPUT SEARCH -->
      <input class="form-control r-search" placeholder="Buscar..." type="search" autofocus [(ngModel)]="search"
        (ngModelChange)="filterOptions()">
      <!-- OPTIONS -->
      <ng-container *ngFor="let opt of filteredOptions">
        <li class="r-option" (click)="selectOption(opt.value)" [ngClass]="{'active':isItemSelected(opt.value)}">
          <!-- NORMAL OPTION -->
          <ng-container *ngIf="!templateOption">{{opt.label}}</ng-container>
          <!-- TEMPLATE OPTION -->
          <ng-container *ngIf="templateOption" [ngTemplateOutlet]="templateOption"
            [ngTemplateOutletContext]="{option:opt}">
          </ng-container>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
