<div class="container" [formGroup]="form">
  <h1>R Components</h1>
  <!-- <br>

  <h2>R-Input</h2>
  
  <r-input label="Number" type="number" formControlName="number"></r-input>
  <r-input label="Range" type="range" formControlName="range"></r-input>
  <r-input label="Textarea" type="textarea" formControlName="textarea"></r-input>
  <r-input label="File" type="file" formControlName="file"></r-input>
  <r-input label="Color" type="color" formControlName="color"></r-input>
  <r-input label="Time" type="time" formControlName="time"></r-input>
  <r-input label="Date" type="date" formControlName="date"></r-input>
  <r-input label="Checkbox" type="checkbox" formControlName="checkbox"></r-input>
  <r-input label="Radio" type="radio" group="radio" [options]="options" formControlName="radio"></r-input> -->

  <br>

  <h2>R-Select</h2>
  <r-input label="Text"  formControlName="text"></r-input>
  <r-select label="Select"  [options]="options" formControlName="select" [disabled]="true"></r-select>


  <ng-template #optionTemplate let-option="option">
    <h5>{{option.label}} <span class="badge bg-secondary">{{option.value.id}}</span></h5>
  </ng-template>

  <br>

  <h2>R-Table</h2>
  <r-table [columns]="columns" [tableService]="loadUsers"></r-table>

</div>
