.r-select {
  position: relative;
  .r-show {
    min-height: 38px;
    display: flex;
    flex-wrap: wrap;
    padding-right: 50px;

    &.disabled{
      background-color: #e9ecef;
    }

    .r-item {
      white-space: nowrap;
      background-color: #ced4da;
      padding: 3px 10px;
      margin-left: 5px;
      margin-bottom: 2px;
      .r-item-delete {
        color: white;
        margin-left: 8px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .r-clear {
    color: #999999;
    margin-left: auto;
    width: 24px;
    height: 24px;
    position: absolute;
    text-align: center;
    top: 6px;
    right: 25px;
    cursor: pointer;
  }

  .r-arrow {
    position: absolute;
    top: 6px;
    right: 12px;
    &::before {
      content: "▼";
      color: #999999;
      font-size: 14px;
    }
    &.open::before {
      content: "▲";
      color: #999999;
      font-size: 14px;
    }
  }

  .r-loader {
    position: absolute;
    top: 12px;
    right: 29px;
  }

  .r-list {
    &.open {
      display: block;
    }
    display: none;
    flex-direction: column;
    list-style: none;
    // position: absolute;
    // top: 36px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 0 0 0.25rem 0.25rem;
    background-color: white;

    .r-search {
      width: 98%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 5px;
      &:focus {
        box-shadow: 0 0 0 0.2rem transparent;
      }
    }

    .r-option {
      box-sizing: border-box;
      padding: 8px 10px;
      &:hover,
      &.active {
        background-color: #f5faff;
      }
    }
  }
}
