<ng-container [ngSwitch]="type">
  <!-- TEXTAREA -->
  <div *ngSwitchCase="'textarea'" class="mb-3 {{ class }}">
    <label class="form-label">{{ label }}</label>
    <textarea class="form-control" [(ngModel)]="value" [disabled]="isDisabled"></textarea>
  </div>
  <!-- RADIO -->
  <div *ngSwitchCase="'radio'" class="mb-3 {{ class }}">
    <label class="form-label">{{ label }}</label>
    <div class="form-check" *ngFor="let opt of options;let index = index">
      <input class="form-check-input" [type]="type" [attr.name]="group" [attr.id]="group+index" [attr.value]="opt.value"
        [checked]="value == opt.value" (change)="value = opt.value">
      <label class="form-check-label" [attr.for]="group+index">
        {{opt.label}}
      </label>
    </div>
  </div>
  <!-- CHECKBOX -->
  <div *ngSwitchCase="'checkbox'" class="mb-3 form-check {{ class }}">
    <input #checkbox class="form-check-input" [type]="type" [attr.id]="group" [checked]="value"
      (change)="value = checkbox.checked" [disabled]="isDisabled"/>
    <label class="form-check-label" [attr.for]="group">
      {{ label }}
    </label>
  </div>
  <!-- TEXT, COLOR, FILE, TIME, ETC... -->
  <div *ngSwitchCase="'range'" class="mb-3 {{ class }}">
    <label class="form-label">{{ label }}</label>
    <input class="form-range" [placeholder]="placeholder" [type]="type" [min]="min" [max]="max" [disabled]="isDisabled"
      [(ngModel)]="value" />
  </div>
  <!-- TEXT, COLOR, FILE, TIME, ETC... -->
  <div *ngSwitchDefault class="mb-3 {{ class }}">
    <label class="form-label">{{ label }}</label>
    <input class="form-control form-control-{{size}}" [placeholder]="placeholder" [type]="type" [disabled]="isDisabled"
      [(ngModel)]="value" />
  </div>
</ng-container>
